{{ define "main" }}

<main>
  <div class="home-hero">

    <div class="container pt-5">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-9 mb-0 mb-md-3 mb-lg-4 mb-xl-5">
          <p class="supersize fw-bold text-white ">
            Pour faire simple, on vous aide à raconter votre histoire.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-bifacelighter section">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-11 col-lg-10 col-xl-8 mx-md-auto section-bspacer">
          <p class="h1 mb-4 mb-lg-5">
            Biface c’est l’histoire d’un <span class="text-orange">duo curieux et audacieux </span>animé par une seule
            envie, contribuer au collectif
          </p>
          <p class="lead">
            Spécialisés en design et contenus numériques, on s’adapte à votre univers et à vos objectifs
            pour concevoir des outils fonctionnels et impactants. Chez nous, c’est toujours la qualité,
            la simplicité et l’utilité qui priment.
          </p>
        </div>
        
        <div class="col-12 col-md-11 col-lg-8 mb-3 section-tspacer">
          <p class="h1 mb-1 mb-lg-5">
            Notre objectif est de vous doter d’outils <span class="text-red">taillés pour durer</span>
          </p>
        </div>
        
        <div class="col-11 offset-1 py-4 offset-md-0 col-md-5 col-lg-4 offset-lg-2 py-md-5">
          <svg class="align-middle" width="59" height="81" viewBox="0 0 59 81" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.0574479 51.1586L40.7286 0.794L48.5016 5.59224L58.013 66.6877L49.3015 75.0513L37.9451 78.797L28.4749 80.3327L15.5329 75.5072L8.43877 68.1754L1.68409 59.5768L0.083526 51.3086L0.0574479 51.1586Z"
              fill="#346253" />
          </svg>
          <span class="display-5 align-middle px-2">Site web</span>
        </div>
        <div class="col-12 py-4 offset-md-1 col-md-5 py-md-4">
          <svg class="align-middle" width="67" height="75" viewBox="0 0 67 75" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.4594 0.850911L66.4562 34.6002L64.9589 42.2901L61.8159 56.0823L53.5218 68.2378L38.1926 74.485L24.5419 73.348L14.3861 72.269L0.876128 7.15568L7.60651 2.45609L16.4594 0.850911Z"
              fill="#B8952E" />
          </svg>
          <span class="display-5 align-middle px-2">Ecommerce</span>
        </div>
        <div class="col-11 offset-1 py-4 offset-md-1 py-3 col-md-5 py-md-5">
          <svg class="align-middle" width="60" height="87" viewBox="0 0 60 87" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M29.1922 7.43232L59.2881 55.4588L57.7599 69.5135L50.4609 77.804L39.1945 86.2342L23.0206 85.6306L9.30735 79.3462L0.619415 68.826L13.0275 12.1539L19.0371 0.269404L29.1922 7.43232Z"
              fill="#344062" />
          </svg>
          <span class="display-5 align-middle px-2">Identité</span>
        </div>
        <div class="col-12 py-4 offset-md-0 col-md-5 py-md-4">
          <svg class="align-middle" width="78" height="65" viewBox="0 0 78 65" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.08461 45.0483L37.1303 1.10395C37.1303 1.10395 53.8492 0.0230229 60.9812 2.78523C68.1132 5.54745 77.6321 13.0571 77.6508 20.6215C77.6696 28.1858 72.8133 54.5847 72.8133 54.5847L12.049 64.2038L0.20211 59.8059L4.08461 45.0483Z"
              fill="#B8732E" />
          </svg>
          <span class="display-5 align-middle px-2">Application</span>
        </div>
        </div>
        <div class="section-tspacer d-lg-flex justify-content-lg-between">
        <div class=" col-12 col-lg-4">
          <h2 class="h4 py-1 mt-3 mt-md-1 mb-3">Nos services</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <p class="lead">Direction artistique</p>
          <p class="lead">Expérience utilisateur</p>
          <p class="lead">Design d'interface</p>
          <p class="lead">Conception rédaction</p>
          <p class="lead">UX writing</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <p class="lead">Articles et reportages</p>
          <p class="lead">Campagnes de emailing</p>
          <p class="lead">Audit</p>
          <p class="lead">Consultation</p>
          <p class="lead">Stratégie</p>
        </div>
      </div>
    </div>
  </div>


  <div class="section bg-secdarker">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-9 mx-md-auto">
          <p class="h1 text-white mb-5">
            Nos plus <span class="text-biface">belles réalisations</span> sont celles qui nous <span
              class="text-biface">passionnent</span>
          </p>
          <p class="display-6 text-white">
            Notre priorité est de connecter avec votre projet et de construire avec vous une relation solide.
          </p>
        </div>
      </div>
    </div>

    <div class="text-bifacelight">
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span class="mx-3"> • </span>
          <span>Curiosité</span>
          <span class="mx-3"> • </span>
          <span>Écoute</span>
          <span class="mx-3"> • </span>
          <span>Panache</span>
          <span class="mx-3"> • </span>
          <span>Curiosité</span>
          <span class="mx-3"> • </span>
          <span>Écoute</span>
          <span class="mx-3"> • </span>
          <span>Panache</span>
          <span class="mx-3"> • </span>
          <span>Curiosité</span>
          <span class="mx-3"> • </span>
          <span>Écoute</span>
          <span class="mx-3"> • </span>
          <span>Panache</span>
          <span class="mx-3"> • </span>
          <span>Curiosité</span>
          <span class="mx-3"> • </span>
          <span>Écoute</span>
          <span class="mx-3"> • </span>
          <span>Panache</span>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-11 col-lg-10 col-xl-9">
            <h2 class="h4 py-1 mt-3 mt-md-1 mb-2 text-white">Notre équipe</h2>
            <p class="display-6 mb-4 mb-lg-5 text-white">
              Nous croyons à la diversité de nos expériences, à la pluralité de nos idées et à la force de
              leur complémentarité.
            </p>
          </div>
          <div class="col-12 col-md-5 mb-3 text-bifacelight">
            <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1409860848/PerrineGogneaux_400x400.jpg"
              alt="">
            <h3 class="h5 mt-3 mb-1 text-white">Perrine Gogneaux</h3>
            <small>Création de contenus</small>
          </div>
          <div class="col-12 col-md-5 mb-3 text-bifacelight">
            <img class="img-fluid" src="https://pbs.twimg.com/profile_images/1346839206199439360/qJGK2cGq_400x400.jpg"
              alt="Sébastien Beauchamp">
            <h3 class="h5 mt-3 mb-1 text-white">Sébastien Beauchamp</h3>
            <small>Création visuelle</small>
          </div>

          <div class="section-bspacer section-tspacer">
            <hr class="biface" />
          </div>           

          <div class="row">
            <div class=" col-12 col-md-10 col-lg-9 text-white">
              <p class="display-6 mb-4 mb-lg-5">
                Nous faisons partie d’un collectif créatif, toujours prêt à passer à l’action.
              </p>
            </div>
            <div class="col-12 col-md-4 text-bifacelight">
              <p class="lead">Développement</p>
              <p class="lead">Traduction</p>
              <p class="lead">Hébergement</p>
              <p class="lead">SEO</p>
              <p class="lead">Photo</p>
            </div>
            <div class="col-12 col-md-4 text-bifacelight">
              <p class="lead">Wordpress</p>
              <p class="lead">Presta Shop</p>
              <p class="lead">Shopify</p>
              <p class="lead">Magento</p>
              <p class="lead">JAM Stack</p>
            </div>
          </div>
        </div>
    </div>
  </div>

</main>
{{ end }}