{{ define "main" }}

<main>
  <div class="home-hero">

    <div class="section">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-9">
          <p class="supersize fw-bold text-white ">
            Pour faire simple, on vous aide à raconter votre histoire.
          </p>
        </div>
      </div>
    </div>
  </div>

  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-8 mx-md-auto">
          <p class="h1 mb-5">
            Biface c’est l’histoire d’un <span class="text-red">duo curieux et audacieux </span>animé par une seule
            envie, contribuer au collectif
          </p>
          <p class="lead">
            Spécialisés en design et contenus numériques, on s’adapte à votre univers et à vos objectifs
            pour concevoir des outils fonctionnels et impactants. Chez nous, c’est toujours la qualité,
            la simplicité et l’utilité qui priment.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-bifacelight">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-8">
          <p class="h1 mb-1 mb-lg-5">
            Notre objectif est de vous doter d’outils <span class="text-red">taillés pour durer</span>
          </p>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-11 offset-1 py-3 offset-md-0 col-md-5 py-md-5">
          <svg width="75" height="120" viewBox="0 0 75 98" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.518855 61.1329L51.4952 0.695553L61.4915 6.65841L74.6954 81.0085L63.734 91.0103L49.3185 95.3585L37.2694 97.0565L20.6812 90.9696L11.5059 81.9423L2.74125 71.383L0.554748 61.3155L0.518855 61.1329Z"
              fill="#F5993D" />
          </svg>
          <span class="display-4">Site web</span>
        </div>
        <div class="col-10 offset-2 py-3 offset-md-1 col-md-5">
          <svg width="69" height="120" viewBox="0 0 69 109" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M32.7063 9.53346L68.4902 69.8866L66.8734 87.4231L58.4371 97.6897L45.3621 108.083L26.4375 107.132L10.3219 99.1163L0.032625 85.8705L13.8572 15.2347L20.7417 0.463273L32.7063 9.53346Z"
              fill="#509550" />
          </svg>
          <span class="display-4">Identité</span>
        </div>
        <div class="col-11 offset-1 py-3 offset-md-1 py-3 col-md-5 py-md-4">
          <svg width="74" height="120" viewBox="0 0 74 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.3435 0.101344L73.9818 45.3308L73.1132 54.3663L71.0584 70.5263L63.2465 84.2243L47.2101 90.1735L32.2692 87.4703L21.1305 85.1808L0.0367771 6.09425L6.88482 1.1456L16.3435 0.101344Z"
              fill="#D6665C" />
          </svg>
          <span class="display-4">Ecommerce</span>
        </div>
        <div class="col-11 offset-1 py-3 offset-md-0 col-md-5 py-md-3">
          <svg width="80" height="120" viewBox="0 0 80 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.27471 46.5467L36.8954 0.292565C36.8954 0.292565 54.127 -0.297983 61.5886 2.92623C69.0502 6.15044 79.1404 14.5765 79.42 22.7348C79.6996 30.8932 75.5918 59.1955 75.5918 59.1955L13.16 67.4787L0.772212 62.3282L4.27471 46.5467Z"
              fill="#3FA6A6" />
          </svg>
          <span class="display-4">Application</span>
        </div>
      </div>
      <div class="bg-white col-12 p-2 p-lg-5">
          <div class="row mx-0 m-md-3 m-lg-5">
            <div class=" col-12 col-lg-4">
              <h2 class="h4 py-1 mt-3 mt-md-1 mb-2">Nos services</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <p class="lead">Direction artistique</p>
              <p class="lead">Expérience utilisateur</p>
              <p class="lead">Design d'interface</p>
              <p class="lead">Conception rédaction</p>
              <p class="lead">UX writing</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <p class="lead">Articles et reportages</p>
              <p class="lead">Campagnes de emailing</p>
              <p class="lead">Audit</p>
              <p class="lead">Consultation</p>
              <p class="lead">Stratégie</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="section bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-9 mx-md-auto">
          <p class="h1 text-white mb-5">
            Nos plus <span class="text-biface">belles réalisations</span> sont celles qui nous <span class="text-biface">passionnent</span>
          </p>
          <p class="display-6 text-white">
            Notre priorité est de connecter avec votre projet et de construire avec vous une relation solide.
          </p>
        </div>
      </div>
    </div>

    <div class="mt-3 mb-5 text-bifacelight">
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span> • </span>
          <span>Curiosité</span>
          <span> • </span>
          <span>Écoute</span>
          <span> • </span>
          <span>Panache</span>
          <span> • </span>
          <span>Curiosité</span>
          <span> • </span>
          <span>Écoute</span>
          <span> • </span>
          <span>Panache</span>
          <span> • </span>
          <span>Curiosité</span>
          <span> • </span>
          <span>Écoute</span>
          <span> • </span>
          <span>Panache</span>
          <span> • </span>
          <span>Curiosité</span>
          <span> • </span>
          <span>Écoute</span>
          <span> • </span>
          <span>Panache</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="bg-bifacelight col-12 p-2 p-lg-5">
        <div class="row mx-0 m-md-3 m-lg-5">
          <div class=" col-12 col-md-10 col-lg-9 col-xl-8">
            <h2 class="h4 py-1 mt-3 mt-md-1 mb-2">Notre équipe</h2>
            <p class="display-6 mb-4 mb-lg-5">
              Nous croyons à la diversité de nos expériences, à la pluralité de nos idées et à la force de
              leur complémentarité.
            </p>
          </div>
          <div class="col-12 col-md-5 mb-3">
            <img class="img-fluid"
                src="https://pbs.twimg.com/profile_images/1409860848/PerrineGogneaux_400x400.jpg"
                alt="">
              <h3 class="h5 mt-3 mb-0">Perrine Gogneaux</h3>
              <small>Création de contenus</small>
            </div>
            <div class="col-12 col-md-5 mb-3">
              <img class="img-fluid"
                src="https://pbs.twimg.com/profile_images/1346839206199439360/qJGK2cGq_400x400.jpg"
                alt="Sébastien Beauchamp">
              <h3 class="h5 mt-3 mb-0">Sébastien Beauchamp</h3>
              <small>Création visuelle</small>
            </div>
          <div class="my-3 my-lg-5 ">
            <hr class="white" />
          </div>
          <div class="row">
            <div class=" col-12 col-md-10 col-lg-9">
              <p class="display-6 mb-4 mb-lg-5">
                Nous faisons partie d’un collectif créatif, toujours prêt à passer à l’action.
              </p>
            </div>
            <div class="col-12 col-md-4">
              <p class="lead">Développement</p>
              <p class="lead">Traduction</p>
              <p class="lead">Hébergement</p>
              <p class="lead">SEO</p>
              <p class="lead">Photo</p>
            </div>
            <div class="col-12 col-md-4">
              <p class="lead">Wordpress</p>
              <p class="lead">Presta Shop</p>
              <p class="lead">Shopify</p>
              <p class="lead">Magento</p>
              <p class="lead">JAM Stack</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{{ end }}