{{ define "main" }}

<main>
  <div class="container">
    <div>
      <div class="home-hero ">
        <div class="row">
          <div class="col-12 col-col-xl-9 mx-auto">
            <p class="supersize-xxl text text-center text-white">
              Pour faire simple, on vous aide à raconter votre histoire.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-tspacer">
    <div class="container">
      <div class="row d-flex align-items-end section-bspacer">
        <div class="col-12 col-md-8 col-lg-7 section-bspacer">
          <p class="surtitle text-uppercase text-white">
            Biface c’est l’histoire d’un duo curieux animé par une seule envie
          </p>
          <p class="supersize-xl text-uppercase text-biface">
            contribuer au collectif.
          </p>
        </div>
        <div class="col-lg-5">
          <p class="lead text-lightgray">
            Nous aidons les entreprises, collectivités et artisans à se développer à travers la stratégie, le design et
            les contenus. Notre mission est d’imaginer et produire des expériences digitales fonctionnelles et
            impactantes, qui vous connectent à vos clients.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 section-bspacer">
          <ol class="services">
            <li class="supersize-sm">Site web</li>
            <li class="supersize-sm">Ecommerce</li>
            <li class="supersize-sm">Application</li>
            <li class="supersize-sm">Identité de marque</li>
          </ol>
        </div>
      </div>

      <div class="row d-flex justify-content-lg-end section-bspacer">
        <div class="col-lg-6 col-md-10">
          <p class="surtitle text-uppercase text-white">
            Chez nous, la qualité, la simplicité et l’utilité priment toujours. </p>
          <p class="supersize-md text-uppercase text-biface">
            Nos outils sont taillés pour durer. </p>
        </div>
      </div>

      <hr class="bg-white" />

      <div class="row section-tspacer">
        <div class="col-lg-4">
          <p class="text-uppercase text-white mt-3">
            services </p>
        </div>
        <div class="col-lg-8">
          <p class="display-2 text-white">
            Vous avez besoin d’un outil de communication performant et agréable? Vous êtes au bon endroit.
          </p>
        </div>
        <div class="col-lg-12 section">
          <p class="supersize-lg text-uppercase text-biface">
            Notre expertise consiste à concevoir des expériences utilisateur intelligentes, efficaces et rentables.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 position-relative">
          <div class="home-service mb-5">
            <p class="supersize-xs text-uppercase text-white">
              Conseil
            </p>
            <p class="text-lightgray">Expérience utilisateur</p>
            <p class="text-lightgray">Audit et recommandations</p>
            <p class="text-lightgray">Maintenance et mise à jour</p>
            <p class="text-lightgray">Contrôle qualité</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 position-relative">
          <div class="home-service mb-5">
            <p class="supersize-xs text-uppercase text-white">
              Design
            </p>
            <p class="text-lightgray">Direction artistique</p>
            <p class="text-lightgray">Design d'interface</p>
            <p class="text-lightgray">Design produit</p>
            <p class="text-lightgray">Guide de style et design system</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 position-relative">
          <div class="home-service">
            <p class="supersize-xs text-uppercase text-white">
              Contenus
            </p>
            <p class="text-lightgray">Conception</p>
            <p class="text-lightgray">Rédaction web</p>
            <p class="text-lightgray">UX writing</p>
            <p class="text-lightgray">Gestion de contenus</p>
          </div>
        </div>

        <div class="section">
          <hr class="bg-white" />
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p class="text-uppercase text-white mt-3">
              approche
            </p>
          </div>
          <div class="col-lg-12 col-md-10 mb-5">
            <p class="display-2 text-white">
              Nos plus belles réalisations sont celles qui nous passionnent.
            </p>
          </div>
          <div class="col-lg-12 mb-3">
            <p class="supersize-lg text-uppercase text-biface">
              Notre plus grande satisfaction sera de construire avec vous une relation solide.
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-lg-end">
          <div class="col-lg-5 col-md-10">
            <p class="lead text-lightgray">
              La compréhension de votre personnalité et de vos enjeux est à la base de notre travail. Elle nous assure
              de vous délivrer des outils uniques, qui vous ressemblent et répondent à vos objectifs.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3 my-md-4 my-lg-5 supersize-xxl">
      <!-- <div class="marquee">
          <div class="marquee__inner" aria-hidden="true" cursor-type="marquee-btn">
            <span class=""> • Curiosité • Écoute • Panache&nbsp;</span>
            <span class=""> • Curiosité • Écoute • Panache&nbsp;</span>
            <span class=""> • Curiosité • Écoute • Panache&nbsp;</span>
            <span class=""> • Curiosité • Écoute • Panache&nbsp;</span>
        </div>
      </div> -->

<div class="marquee">
  <div class="marquee__inner" aria-hidden="true">
    <span>• Curiosité • Écoute • Panache&nbsp;</span>
    <span>• Curiosité • Écoute • Panache&nbsp;</span>
    <span>• Curiosité • Écoute • Panache&nbsp;</span>
    <span>• Curiosité • Écoute • Panache&nbsp;</span>
  </div>
</div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-uppercase text-white mt-3">
            équipe
          </p>
        </div>
        <div class="col-lg-12 mb-5">
          <p class="display-2 text-white">
            Nous croyons à la diversité de nos expériences, à la pluralité de nos idées et à la force de leur
            complémentarité. </p>
        </div>
      </div>
      <div class="mt-5 row d-flex justify-content-between align-items-end">
        <div class="col-lg-5 col-md-8 section-bspacer">
          <p class="supersize-md text-uppercase text-biface">
            Nous sommes une mini-agence. </p>
        </div>
        <div class="col-lg-5 col-md-10">
          <p class="lead text-lightgray">
            Les personnes que vous rencontrez et avec qui vous parlez sont les mêmes qui travaillent sur votre projet. De cette façon il n’y a pas de déconnexion entre la réflexion et la production et vous pouvez compter sur notre
            implication, notre disponibilité et notre réactivité à toutes les étapes du projet. </p>
        </div>
      </div>
      <div class="row section">
        <div class="col-lg-5 col-md-6 mb-5">
          <img class="img-fluid" src="images/perrinegogneaux-redactrice.jpg" />
          <p class="supersize-xs text-uppercase text-white mt-4 mb-0">
            Perrine Gogneaux
          </p>
          <p class="text-lightgray mt-1">
            Création de contenus
          </p>
        </div>
        <div class="col-lg-5 col-md-6">
          <img class="img-fluid" src="images/sebastienbeauchamp-designer.jpg" />
          <p class="supersize-xs text-uppercase text-white mt-4 mb-0">
            Sébastien Beauchamp
          </p>
          <p class="text-lightgray mt-1">
            Création visuelle
          </p>
        </div>
        <div class="section-tspacer row d-flex justify-content-between">
          <div class="col-lg-5 col-md-8  mb-lg-5 mb-md-2 mb-1">
            <p class="supersize-md text-uppercase text-biface">
              Nous ne savons pas tout faire.
            </p>
          </div>
          <div class="col-lg-6 col-md-10">
            <p class="lead text-white">
              Pour le reste, nous faisons partie d’un collectif créatif prêt à passer à l’action, à la demande.
            </p>
            <div class="row mt-lg-5 mt-md-5 mt-2">
              <div class="col-6 text-lightgray">
                <p>Développement
                </p>
                <p>Traduction
                </p>
                <p>Hébergement
                </p>
                <p>SEO
                </p>
                <p>Photo
                </p>
            </div>
            <div class="col-6 text-lightgray">
              <p>Wordpress
              </p>
              <p>Presta Shop
              </p>
              <p>Shopify
              </p>
              <p>Magento
              </p>
              <p>JAM Stack
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>


</main>
{{ end }}