html {
	scroll-behavior: smooth;
}

body {
	font-size: 18px;
	font-family:'geomanistregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.logo{
	position: absolute;
	top: 2em;
	left: 2em;
	z-index: 1;
	@media only screen and (max-width: 759px){
		top:28px;
	}
	img{
		height: 52px;
		@media only screen and (max-width: 759px){
			height: 42px;
		}
	}
}


.container{
	@media only screen and (max-width: 769px) {
		padding: 0em 2em;
	}
}

section, footer{
	padding: 6em 0em;
	@media only screen and (max-width: 769px) {
		padding: 2em 0em;
	}
}

footer{
	background-color: #CDD4C0;
	div.mainthings{
		padding-bottom:3em;
		@media only screen and (max-width: 769px) {
			padding-bottom: 2em;
		}
	}
	form{
		input.mailchimp{
			border: none;
			border-bottom: solid 2px rgba(0,0,0,0.50);
			background: transparent;
			border-radius: 0px;
			padding-left: 0px;
			&:focus, &:hover{
				border-color: transparent;
				outline: 0;
				box-shadow: none !important;
				border-bottom: solid 2px $black;
				background: transparent;
				color:$black;
			}
		}
	}
}
[contenteditable="true"]:focus {
	outline: 0 !important;
	outline-style: none;
}
*:focus {
	outline: 0!important;
	outline-style: none;
}


.hero{
	background-size: cover;
	padding: 10em 0 5em;
	position: relative;
	@media only screen and (max-width: 992px){
		padding: 8em 0 4em;
	}
	@media only screen and (max-width: 767px){
		padding: 6em 0 2em;
	}
	h1   { font-size: 2.8em;
		@media only screen and (max-width: 769px) {
			font-size: 1.9em;
		}
	}
}

.home {
	.hero{
		height: 92vh;
		background: url('/images/mainsrouges-accueil.jpg') center 75% no-repeat #3A3D18;
		padding: 10em 0 3em;

		// &::after{
		// 	content: " ";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	display: block;
		// 	height: 30%;
		// 	background-image: linear-gradient(180deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.00) 100%);
		// }
		h1 {
			font-size: 3.5em;
			text-shadow: 0 2px 12px rgba(0,0,0,0.24);
			@media only screen and (max-width: 992px){
				font-size: 3em
			}
			@media only screen and (max-width: 767px){
				font-size: 2.5em
			}
		}
	}
}

.about {
	.hero{
		background: #3A3D18;
		padding-bottom: 0em;
		.img-fluid{
			@media only screen and (max-width: 992px){
				transform: translateY(2em);
				margin-left: 0px;
				margin-right: 0px;
			}
			@media only screen and (min-width: 992px){
				transform: translateY(4em);
			}
		}
	}
}

.contact {
	.hero{
		background: #644A4E;
	}
}
.winemaker {
	.hero{
		background: $darkerpurple;
	}
}
.banner-list-winemakers{
	background-size: cover;
	display: block;
	width: 100%;
	padding-top:140%;
	margin-bottom: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 0.2s ease;
}
a{
	&:hover{
		text-decoration: none;
		color: $black;
		.banner-list-winemakers{
			transform: scale(1.01);
			box-shadow: 0 8px 24px 0 rgba(0,0,0,0.1);
		}
	}
}

.single-winemakers{
	.hero{
		background: $darkerpurple;
	}
	.intro{
		padding-left:2em;
		margin-top: 2em;
		@media only screen and (max-width: 992px){
			padding-left:0em;
			margin-top: 1em;
		}

		&:before{
			content: '';
			display: block;
			height: 4px;
			margin-top: 0.5em;
			width: 1.5em;
			background-color: $white;
			float:left;
			margin-left: -2em;

			@media only screen and (max-width: 992px){
				content: '';
				display: block;
				height: 0;
				margin-top: 0;
				width: 0;
				background-color: transparent;
				float:left;
				margin-left: 0;
			}
		}
	}
	p img{
		max-width: 100%;
		height: auto;
		margin: 2em 0;
	}
}

.wines{
	.hero{
		background: $darkbeige;
	}
}
.single-wines{
	.hero{
		background: $darkbeige;
		padding-top:10em;
	}
	.intro{
		padding-left:2em;
		margin-top: 2em;
	}
}



.banner-single-winemakers{
	background-size: cover;
	display: block;
	width: 100%;
	padding-top:56.25%;
	background-position: center center;
	background-repeat: no-repeat;
}

.sm-price{
	font-size: 30px;
	line-height: 32px;
	float: left;
	margin-right: 8px;
}
.list-details-price{
	font-size: 12px;
	line-height: 16px;
	display: block;
}

.container {
	@media (min-width: 576px){
max-width: 90%;
}
}
