

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
	color: $white;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

/*** INPUT ***/
nav input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

/*** LABEL ***/
nav label {
	cursor: pointer;
	padding: 0.5em;
	height: 48px;
	width: 48px;
	background-color: $darkpink;
	border-radius: 100px;
	right: 2em;
	top: 2em;
	position: fixed;
	@media only screen and (max-width: 769px) {
		right: 20px;
		top:20px;
	}
}

/* Hamburger Icon */
#menu-icon:before,
#menu-icon:after {
	display: flex;
	width: 28px;
	height: 2px;
	margin-bottom: 20px;
	position: relative;
	background: #ffffff;
	border-radius: 1px;
	z-index: 1;
	transform-origin: -2px 1px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menu-icon {
	display: inline-block;
	margin: -5px 1px;
	// width: 32px;
	position: relative;
}

#menu-icon:before,
#menu-icon:after {
	content: '';
	left: 0;
	position: absolute;
}

#menu-icon:before {
	top: -5px;
}

#menu-icon:after {
	bottom: -5px;
}

/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
	background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
	top: 0;
	transform: rotate(-45deg);
	left:5px
}

nav input[type=checkbox]:checked + label #menu-icon:after {
	bottom: 0;
	transform: rotate(45deg);
	left:5px
}

/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
	background: $lightpink;
	bottom: 0;
	left: 0;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}

/* List */
nav ul {
	font-size: 2.5em;
	font-family:'geomanistbold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	list-style: none;
	margin: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	text-align: left;
}

nav input:checked ~ ul {
	margin: 3em 0px;
	max-height: inherit;
	opacity: 1;
	position: fixed;
	width: 100%;
}

nav ul > li {
	margin: 0.5em 2em;
}

nav ul a {
	color: $darkpink !important;
	text-decoration: none;
}

nav ul a:hover {
	color:$pink;
}
