// @import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;700&display=swap');

// *, body{
//   font-family: sans-serif;
// }


.supersize-xxl{ 
  font-family: 'MangoGrotesque', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12em;
  line-height: 1em;
  @media only screen and (max-width: 769px) {
		font-size: 3em;
	}
}

.supersize-xl{ 
  font-family: 'MangoGrotesque', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10em;
  line-height: 1em;
  @media only screen and (max-width: 769px) {
		font-size: 3em;
	}
}

.supersize-lg{ 
  font-family: 'MangoGrotesque', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8em;
  line-height: 1em;
  @media only screen and (max-width: 769px) {
		font-size: 3em;
	}
}

.supersize-md{ 
  font-family: 'MangoGrotesque', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6em;
  line-height: 1em;
  @media only screen and (max-width: 769px) {
		font-size: 3em;
	}
}

.supersize-sm{ 
  font-family: 'MangoGrotesque', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1em;
  @media only screen and (max-width: 769px) {
		font-size: 3em;
	}
}

.supersize-xs{ 
  font-family: 'MangoGrotesque', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1em;
  @media only screen and (max-width: 769px) {
		font-size: 3em;
	}
}

.surtitle{
  font-size: 2em;
  line-height: 1.2;
}

blockquote p{
font-size: 1.8em;
color: $pink;
line-height: 1.25em;
}

x-small, .x-small{
  font-size: 0.66666em;
  line-height: 1.25em;
}

small, .small{
  font-size: 0.8em;
  line-height: 1.25em;
}

footer p{
  margin-bottom: 1rem;
}

hr.biface{
  border: none;
  background: inherit;
  border-top: solid 1px $bifacelight;
  opacity: 1;
}


a.contact {
  background: black;
  width: 7rem;
  height: 7rem;
  text-align: center;
  padding: 1rem;
  line-height: 5rem;
  border-radius: 100%;
  text-decoration: none;
  color: $bifacelighter;
  position: fixed;
  top:1rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5000;
  transition: all 250ms;
  animation: upanddown 2s infinite ease-in-out;
  
  @media only screen and (max-width: 769px) {
    top: initial;  
    bottom: 2rem;
    }

    &:hover{
      color: black;
      box-shadow: $box-shadow-lg;
      background: $bifacelight;
    }
}

@keyframes upanddown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0px);
    }
}