
$black:         #000000;
$darkergray:    #262626;
$darkgray:      #666666;
$gray:          #B1B1B1;
$lightgray:     #D9D9D9;
$lightergray:   #F3F3F3;
$white:         #ffffff;

$biface:        #FF9966;
$bifacelight:   #958450;
$bifacelighter: #F5EDD6;
$bifacedark:    #B8952E;
$bifacedarker:  #916F08;

$secdarker:       #262C21;

$red:           #A6593F;
$orange:        #B8732E;


 /* Webfont: MangoGrotesque-Bold */
 @font-face {
    font-family: 'MangoGrotesque';
    src: url('../font/mangogrotesque/MangoGrotesque-Bold.eot'); /* IE9 Compat Modes */
    src: url('../font/mangogrotesque/MangoGrotesque-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/mangogrotesque/MangoGrotesque-Bold.woff') format('woff'), /* Modern Browsers */
         url('../font/mangogrotesque/MangoGrotesque-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../font/mangogrotesque/MangoGrotesque-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 640px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) ;
// scss-docs-end container-max-widths

@include _assert-ascending($container-max-widths, "$container-max-widths");
