
$black:         #000000;
$darkergray:    #262626;
$darkgray:      #666666;
$gray:          #B1B1B1;
$lightgray:     #D9D9D9;
$lightergray:   #F3F3F3;
$white:         #ffffff;

$biface:        #D9A60C;
$bifacelight:   #958450;
$bifacelighter: #F5EDD6;
$bifacedark:    #B8952E;
$bifacedarker:  #916F08;

$secdarker:       #262C21;

$red:           #A6593F;
$orange:        #B8732E;
