<footer>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-10 col-xl-9">
          <h2 class="h4">Contact</h2>
          <p class="display-6 mb-5">
            Biface, c’est l’histoire d’une équipe libre et indépendante qui partage son terrain de jeu entre les sommets des Alpes et les forêts du Québec. Contactez-nous pour en savoir +
          </p>
          <p class=""><a class="supersize fw-bold link-light text-decoration-none" href="mailto:allo@biface.co">allo@biface.co</a></p>
          <p class=""><a class="supersize fw-bold link-light text-decoration-none" href="tel:+33 6 95 09 61 97">+33 6 95 09 61 97</a></p>
        </div>
        <div class="col-12 mt-5 py-5 text-light">
          ©2021 biface.co
        </div>
      </div>
    </div>
  </div>
</footer>