<footer>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h2 class="h6 text-light">Contact</h2>
          <p class="display-6 mb-5 text-bifacelighter">
            Biface, c’est l’histoire d’une <span class="text-white">équipe libre et indépendante</span> qui partage son terrain de jeu entre les sommets des Alpes et les forêts du Québec. 
          </p>
            <p class="display-6 mb-5">
            Contactez-nous pour en savoir +
          </p>
          <p class=""><a class="display-6 fw-bold text-white text-decoration-none" href="mailto:allo@biface.co">allo@biface.co</a></p>
          <p class=""><a class="display-6 fw-bold text-white text-decoration-none" href="tel:+33 6 95 09 61 97">+33 6 95 09 61 97</a></p>
        </div>
        <div class="col-12 mt-5 py-5 text-light">
          ©2021 biface.co
        </div>
      </div>
    </div>
  </div>
</footer>