<footer>
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 section-tspacer">
          <div class=" mx-0 mx-sm-4 mx-lg-5">
          <p class="text-uppercase mt-3">
            Contact
          </p>
          <p class="display-2">
            Biface c’est l’histoire d’une équipe libre et indépendante.  </p>
            <p class="lead mt-5">
              Notre camp de base est en Savoie mais on partage notre terrain de jeu entre les Alpes et les forêts du Québec, inspirés par les territoires et les gens rencontrés.
            </p>
            <p class="my-5">
              Parlez-nous de vos idées.
            </p>
            <p class="mb-0 "><a class="supersize-sm text-dark text-decoration-none" href="tel:+33 6 95 09 61 97">+33 6 95 09 61 97</a></p>
            <p class="mb-0"><a class="supersize-sm text-dark text-decoration-none" href="mailto:allo@biface.co">allo@biface.co</a></p>
            <div class="col-12 mt-5 py-5 text-dark">
              ©2021 biface.co
            </div>
          </div>
          </div>
          <div class="col-lg-6 translate--4">
              <img class="img-fluid" src="images/footer-biface.jpg">
            </div>
        </div>
      </div>
</footer>